:host {
  flex-grow: 1;
  max-height: 86.4vh;

  .chat-wrapper {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 16px;
    background-color: var(--bs-secondary-bg);
    height: 100%;
    padding: 16px;
    flex-grow: 0;

    .chat-messages-wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      overflow-y: auto;
      gap: 16px;
      padding: 1rem;
      margin-bottom: 1rem;

      .chat-message {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        .message-body {
          max-width: 75%;
          border-radius: 16px;
          padding: 0.5rem 1rem;

          &::ng-deep {
            & > pre {
              background-color: rgba(33, 37, 41, 0.5);
              padding: 0.5rem;
              border-radius: var(--bs-border-radius)
            }

            & > p code {
              padding: 0.25rem;
              background-color: rgba(33, 37, 41, 0.5);
              border-radius: var(--bs-border-radius)
            }

            & > p:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .user-message {
        justify-content: flex-end;

        .message-body {
          border-bottom-right-radius: 0;
          background-color: #290661;
        }
      }

      .assistant-message {
        justify-content: flex-start;

        .message-body {
          border-top-left-radius: 0;
          background-color: #084298;
        }
      }

      .messages-placeholder {
        font-size: 200%;
        color: var(--bs-tertiary-bg);
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        align-self: center;
      }
    }

    .input-wrapper {
      margin-top: auto;
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      gap: 16px;
      align-self: flex-end;

      .prompt-input {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: var(--bs-tertiary-bg);
        border-radius: 16px;
        border: none;
        height: auto;

        &:focus-visible {
          outline: 2px solid #3d0a91;
        }
      }

      .send-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;
        border-radius: 50%;

        font-size: 24px;
        line-height: normal;
        background-color: var(--bs-primary);
        border-color: var(--bs-primary)
      }
    }
  }
}
