:host {
  width: 100%;

  .chat-wrapper {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 16px;
    background-color: var(--bs-secondary-bg);
    height: 100%;
    padding: 16px;
    flex-grow: 0;

    .chat-title-section {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .chat-title {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.25rem;
        justify-content: flex-start;
        align-items: stretch;

        .custom-tooltip {
          .custom-tooltip-trigger {
            i {
              color: var(--bs-gray-600);
            }
          }

          .custom-tooltip-content {
            display: flex;
            flex-flow: column nowrap;
            padding: 0.5em;

            position: fixed;
            margin-top: 1rem;
            margin-left: 0.5rem;

            background-color: var(--bs-gray-600);
            border-radius: var(--bs-border-radius);
            border-top-left-radius: 0;

            font-size: 0.85rem;
            font-family: Monospaced, monospace;

            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

            opacity: 0;
            transition: opacity 0.25s;

            pointer-events: none;

            z-index: 99;

            .custom-tooltip-title {
              font-weight: bold;
              padding-bottom: 0.2rem;
              margin-bottom: 0.8rem;
              border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            .custom-tooltip-field {
              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;
              gap: 1em;

              .custom-tooltip-field-label {
              }

              .custom-tooltip-field-value {
              }
            }
          }

          .custom-tooltip-content:before {
            width: 1em;
            height: 1em;

            position: fixed;
            margin-top: -1.5em;
            margin-left: -0.5em;

            background: linear-gradient(45deg, var(--bs-gray-600) 0%, var(--bs-gray-600) 50%, transparent 50.1%);
            content: '';
          }

          .custom-tooltip-trigger:hover ~ .custom-tooltip-content {
            opacity: 1;
            display: flex;

            pointer-events: auto;
          }
        }
      }

      .dropdown {
        .model-dropdown {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;

          &:active, &.show {
            outline: none;
            border-color: transparent;
            background-color: var(--bs-tertiary-bg);
          }

          h5 {
            margin-bottom: 0;
          }

          &:after {
            margin-left: 0.5rem;
          }
        }
      }
    }

    .chat-messages-wrapper {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      overflow-y: auto;
      gap: 16px;
      padding: 1rem;
      margin-bottom: 1rem;

      .chat-message {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        .message-body {
          max-width: 75%;
          border-radius: 16px;
          padding: 0.5rem 1rem;

          &::ng-deep {
            & > pre {
              background-color: rgba(33, 37, 41, 0.5);
              padding: 0.5rem;
              border-radius: var(--bs-border-radius)
            }

            & > p code {
              padding: 0.25rem;
              background-color: rgba(33, 37, 41, 0.5);
              border-radius: var(--bs-border-radius)
            }

            & > p:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .user-message {
        justify-content: flex-end;

        .message-body {
          border-bottom-right-radius: 0;
          background-color: #290661;
        }
      }

      .assistant-message {
        justify-content: flex-start;

        .message-body {
          border-top-left-radius: 0;
          background-color: #084298;
        }

        &.loading-message .message-body {
          height: 2rem;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
        }
      }

      .messages-placeholder {
        font-size: 200%;
        color: var(--bs-tertiary-bg);
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
        align-self: center;
      }

      .chat-end-anchor {
        height: 1px;
        width: 1px;
        display: block;
        background: transparent;
        content: " ";
      }
    }

    .input-wrapper {
      margin-top: auto;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      gap: 16px;
      align-self: flex-end;

      .prompt-input {
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: var(--bs-tertiary-bg);
        border-radius: 16px;
        border: none;
        line-height: 1.5rem;
        height: fit-content;

        &:focus-visible {
          outline: 2px solid #3d0a91;
        }
      }

      .send-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 48px;
        height: 48px;
        border-radius: 50%;

        font-size: 24px;
        line-height: normal;
        background-color: var(--bs-primary);
        border-color: var(--bs-primary)
      }
    }
  }

  .scroll-shadows {
    background: linear-gradient(#242836 33%, rgba(36, 40, 54, 0)),
    linear-gradient(rgba(36, 40, 54, 0), #242836 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgba(71, 74, 92, 0.5), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(71, 74, 92, 0.5), rgba(0, 0, 0, 0)) 0 100%;
    background-color: #242836;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 100% 150px, 100% 150px, 100% 50px, 100% 50px;
  }

  .loader {
    width: 30px;
    display: flex;
    justify-content: space-evenly;

    .ball {
      list-style: none;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #fff;

      &:nth-child(1) {
        animation: bounce-1 2.1s ease-in-out infinite;
      }

      &:nth-child(2) {
        animation: bounce-3 2.1s ease-in-out 0.3s infinite;
      }

      &:nth-child(3) {
        animation: bounce-3 2.1s ease-in-out 0.6s infinite;
      }
    }

    @keyframes bounce-1 {
      50% {
        scale: 0.3;
      }
    }

    @keyframes bounce-2 {
      50% {
        scale: 0.3;
      }
    }

    @keyframes bounce-3 {
      50% {
        scale: 0.3;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  :host {
    .chat-wrapper {
      .chat-title-section {
        flex-flow: column nowrap;

        .dropdown {
          .dropdown-toggle {
            h5 {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
