:host {
  .body-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow-y: hidden;
    gap: 24px;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
