:host {
  .body-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow-y: hidden;
    gap: 24px;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  :host {

    .body-wrapper {
      app-sidebar {
        z-index: 9999;

        position: fixed;

        app-chat {
          width: 100%;
        }
      }
    }
  }
}
