:host {
  .sidebar-wrapper {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    background-color: var(--bs-secondary-bg);
    border-radius: 16px;

    .chat-options-wrapper {
      flex-grow: 1;
      overflow-y: auto;

      .chat-options {
        gap: 4px;
        padding-bottom: 8px;

        .chat-option {
          max-width: 100%;
          align-self: stretch;

          .nav-link {
            display: block;
            border-radius: 16px;

            background-color: var(--bs-tertiary-bg);
            color: var(--bs-light);
            cursor: pointer;

            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            transition: all 0.5s;

            &:hover {
              filter: brightness(1.1);
            }
          }
        }

        .no-chats-message {
          display: block;
          width: 100%;
          font-size: large;
          color: var(--bs-tertiary-bg);
          text-align: center;
        }
      }

      .history-btn-wrapper {
        width: 100%;
        align-self: flex-end;
      }
    }
  }
}
